* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#navBarLogado{
    display: none;
}

.body_index {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    background: rgba(0, 0, 0, 0.85) url(/assets/bg_index1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}


.header {
    /* background-color: rgb(29, 66, 138); */
    background: rgba(0, 0, 0, 0);
    position: fixed;
    width: 100vw;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: all 0.3s;
    z-index: 2;
}

.header-transparent {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.header-colored {
    background-color: rgb(29, 66, 138)
}

.ul-nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.container {
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: #F9F9F9;
    padding: 10px;
}

.container ul li {
    margin: 10px 15px;
}

ul li a {
    text-decoration: none;
    color: #F9F9F9;
}

.item-li-nav {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    font-size: 16px;
    margin: 0 10px;
    padding-bottom: 5px;

}

.item-li-nav::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f9f9f9;
    transform-origin: left;
    transition: 0.3s ease-in-out;
}

.item-li-nav:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #F9F9F9;
}


.button-index {
    font-family: 'Poppins', sans-serif;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    /* background-color: rgb(14, 43, 107); */
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: #F9F9F9;
    font-size: 16px;
}

.button-index:hover {
    background-color: #f9f9f9;
    color: rgb(14, 43, 107);
    transition: all 0.7s;
    cursor: pointer;
}

ul img {
    margin: 0px 10px;
}

.logo-index {
    margin: 10px;
    height: 50px;
}


.editarperfil {

    margin: 10px 0px;
}

.button_card_profile {

    margin: 1vh;
    width: 8vw;
    height: 4vh;
    background-color: #0E499D;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;

}

.button-logout {

    background-color: #D30529;
    border: none;
    width: 4vw;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    color: white;

}

.button-logout:hover {

    background-color: #99021b;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button_card_profile:hover {

    cursor: pointer;
    background-color: #0E499D;
    transition: all ease-in-out 0.3s;
}

.nav_profile {

    width: 35px;
    height: 35px;
    border-radius: 360px;
}

.profile-icon {

    border-radius: 360px;
}

/* Section Principal */

.section-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background: rgba(0, 0, 0, 0.85) url(/assets/bg_index1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
}

.titulo-principal {
    font-size: 70px;
    /* margin: 40px; */
    font-weight: bold;
    color: white;
}

.subtitulo-principal {

    font: 50px;
    margin: 40px;
    font-weight: bold;
    color: white;
}


.button_principal {
    width: 400px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(14, 73, 157);
    font-size: 24px;
    color: white;
    text-decoration: none;
    border: none;
    margin: 30px;
}

button a {
    text-decoration: none;
    color: white;
}

.button_principal:hover {

    background-color: #F9F9F9;
    transition: all 0.5s;
    cursor: pointer;
    color: rgb(14, 73, 157);
    font-weight: bold;
}

.section-secundaria {
    background-color: black;
    background: rgba(0, 0, 0, 0.8) url(/assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.texts-secundaria {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}

.titulo-secundaria {

    font-size: 60px;
    color: white;
    padding: 5vh;
}

.subtitulo-secundaria {
    color: #F9F9F9;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}

.container-subtitulo {
    display: flex;
    flex-direction: row-reverse;

}

.img-container-subtitulo {

    padding: -20px;
}

.button-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #D30529;
    border-radius: 360px;
}

.button-top:hover {

    background-color: #d74059;
    cursor: pointer;
}

.f2f {
    background-color: black;
    background: rgb(0, 0, 0, 0.6)url(/assets/Jordan_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.f2f-texts {
    display: flex;
    flex-direction: column;
    color: #F9F9F9;
    width: 40%;
    margin-left: 40vw;
    text-align: justify;
}

.titulo-terciario{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.bolha {
    background-color: black;
    background: rgb(0, 0, 0, 0.6)url(/assets/Lebron_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    filter: grayscale(0);
}

.bolha-texts {
    display: flex;
    flex-direction: column;
    color: #F9F9F9;
    width: 30%;
    margin-right: 40vw;
    text-align: justify;
}

.titulo-terciario-bolha{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
