* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.body_index {
    background-color: black;
    background: rgba(0, 0, 0, 0.85) url(/public/assets/bg_index1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}


.header {
    background-color: #0E499D;
    width: 100%;
}

.ul-nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.container {
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: #F9F9F9;
    padding: 10px;
}

.container ul li {
    margin: 10px 15px;
}

ul li a {
    text-decoration: none;
    color: #F9F9F9;
}

.item-li-nav {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    font-size: 16px;
    margin: 0 10px;
    padding-bottom: 5px;

}

.item-li-nav::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f9f9f9;
    transform-origin: left;
    transition: 0.3s ease-in-out;
}

.item-li-nav:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #F9F9F9;
}


.button-index {
    font-family: 'Poppins', sans-serif;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(14, 43, 107);
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: #F9F9F9;
    font-size: 16px;
}

.button-index:hover {
    background-color: #f9f9f9;
    color: rgb(14, 43, 107);
    transition: 0.7s;
    cursor: pointer;
}

ul img {
    margin: 0px 10px;
}

.logo-index {
    margin: 10px;
    height: 50px;
}

.button_login {
    background-color: #f9f9f9;
    color: rgb(14, 43, 107);
    transition: 0.7s;
    cursor: pointer;
}

.editarperfil {

    margin: 10px 0px;
}

.button_card_profile {

    margin: 1vh;
    width: 8vw;
    height: 4vh;
    background-color: #0E499D;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;

}

.button-logout {

    background-color: #D30529;
    border: none;
    width: 4vw;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    color: white;

}

.button-logout:hover {

    background-color: #99021b;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button_card_profile:hover {

    cursor: pointer;
    background-color: #0E499D;
    transition: ease-in-out 0.3s;
}

.container-main{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    height: 50vh;
}

.container-items{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: start;
}

.container-items-sec{
    display: flex;
    text-align: center;
    align-items: center;
}

.button_pos{
    background-color: #D30529;
    border: none;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

.button_pos:hover{

    cursor: pointer;
    background-color: #7c0116;
    transition: 0.3s;
}

.container-items2{

    margin-top: 5vh;
}

.container01{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.nav_profile {

    width: 35px;
    height: 35px;
    border-radius: 360px;
}

.profile-icon {

    border-radius: 360px;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

.footer{
    background-color: rgb(29, 66, 138);
    margin-top: 50px;
    width: 100%;
    height: 300px;
}

.section-full{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3vh 0;
}

.item-container img{
    height: 80px;
}

.item-container{
    display: flex;
    align-items: center;
    width: 200px;
    height: 150px;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 5px;
}

input{
    padding: 0.7vh 3vw;
    margin: 1vh;
    text-align: center;
}

.inputQuiz{
    font-size: 20px;
}

#inputTime::placeholder{
    font-size: 18px;
}

.correct {
    color: rgb(0, 192, 0);
}

.correct-div{

    border: 1px solid rgb(0, 192, 0);;
}

.incorrect {

    color: #D30529;
}

.incorrect-div{

    border: 1px solid #D30529;
}

.secPrimary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vh;
}

.secPrimary p {
    font-size: 20px;
    font-weight: 800;
}

.item-container p {

    font-size: 14px;
}

.timerQuiz{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#timer{
    margin: 0px 20px;
}

#modal{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter:blur(5px);
    position: fixed;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: none;
}

.containerModal{
    background-color:#f9f9f9;
    border-radius: 20px;
    color: #0E499D;
    border: 5px solid #0E499D;
    padding: 3% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botaoModal{
    background-color: #D30529;
    border: 2px solid #7c0116;
    color: #F9F9F9;
    padding: 2vh;
    margin-top: 2vh;
    border-radius: 10px;
    font-size: 16px;
}

.botaoModal:hover{

    background-color: #d42240;
    border: 2px solid #45020d;
    cursor: pointer;

}