*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.header {
    background-color: rgb(29, 66, 138);
    position: fixed;
    width: 100%;
}

.ul-nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.container {
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: #F9F9F9;
    padding: 10px;
}

.container ul li {
    margin: 10px 15px;
}

ul li a {
    text-decoration: none;
    color: #F9F9F9;
}

.item-li-nav {
    position: relative;
    text-decoration: none;
    color: #F9F9F9;
    font-size: 16px;
    margin: 0 10px;
    padding-bottom: 5px;

}

.item-li-nav::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f9f9f9;
    transform-origin: left;
    transition: 0.3s ease-in-out;
}

.item-li-nav:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #F9F9F9;
}


.button-index {
    font-family: 'Poppins', sans-serif;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(14, 43, 107);
    background: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: #F9F9F9;
    font-size: 16px;
}

.button-login:hover {
    background-color: #f9f9f9;
    color: rgb(14, 43, 107);
    transition: 0.7s;
    cursor: pointer;
}

ul img {
    margin: 0px 10px;
}

.logo-index {
    margin: 10px;
    height: 50px;
}

.button-cadastro:hover {
    background-color: #f9f9f9;
    color: rgb(14, 43, 107);
    transition: 0.7s;
    cursor: pointer;
}

/* Fim Header */

/* Inicio About Me */

.container-all-about-me{
    padding-top: 20vh;
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(139, 139, 139);
    width: 45%;
    justify-content: center;
    border-radius: 50px;
    padding: 3vh 3vh 0vh 3vh;
    color: #F9F9F9;
}

.about-me img{
    border-radius: 360px;
}

.about-me h2{
    margin-bottom: 3vh;
}

.div-about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    width: 50%;
    justify-content: center;
}

.div-about-me h3{
    margin-top: 3vh;
}

